.NTslidebar {
    height: 100%;
}

#sidebar {
    height: 100vh;
    background-color: #ccc;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #ccc;
    color: #ccc;
    border-color: #ccc;
    text-decoration: none;
}