<div class="container">
    <NTHeader title="{{title}}" (onSubmit)="searchSubmit($event)" [headerSettings]="headerSettings"></NTHeader>
    <div class="row">

        <NTSlide-Bar [isOpen]="isOpen" title="{{title}}" [menuSettings]="menuSettings"></NTSlide-Bar>

        <div [ngClass]="{'col-md-9': isOpen, 'col-md-12': !isOpen}">

            <!-- Rounded switch -->
            <label class="switch">
                <input (click)="toggle()" type="checkbox" checked>
                <span class="slider round"></span>
            </label>

            <!--The content below is only a placeholder and can be replaced.-->
            <NTLogin (userName)='getUserName($event)' (passWord)='getPassWord($event)'
                (rememberMe)='getRememberMe($event)' (submited)='getSubmited($event)'></NTLogin>
        </div>
    </div>

    <NTFooter [title]="bottomTitle"></NTFooter>

    <!-- Content -->
    <router-outlet></router-outlet>
</div>