<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Org Name -->
    <a class="navbar-brand" href="#">
        <img src="{{_headerSettings.LogoUrl}}" height="50" width="50" alt="..." class=" rounded" style="cursor: grab"> {{_headerSettings.OrgName}}
    </a>

    <!-- button toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Menuitems -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let menu of _headerSettings.Menus" class="nav-item active">
                <label ngbButtonLabel><a class="nav-link" href="#">{{menu.title}} <span
              class="sr-only">(current)</span></a></label>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <!-- Dropdown Profile -->
    <div ngbDropdown class="d-inline-block" autoClose="outside">
        <img src="{{_headerSettings.User.ProfileImage}}" height="50" width="50" alt="My Profile" id="dropdownForm1" class="rounded-circle" style="cursor: grab; padding: 5px" ngbDropdownToggle>

        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <form class="px-4">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">
            Signed in as <b>{{_headerSettings.User.UserName}}</b>
          </label>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            <label *ngFor="let tag of _headerSettings.User.Tags" ngbButtonLabel ngbDropdownItem><a
          href="{{tag.Link}}">{{tag.Detail}}</a></label>
        </div>
    </div>
</nav>