<div class="">
    <app-ntheader title="{{title}}" [headerSettings]="headerSettings"></app-ntheader>
    <div class="row">
        <div class="col-md-3">
            <app-ntslide-bar title="{{title}}" [menuSettings]="menuSettings"></app-ntslide-bar>
        </div>
        <div class="col-md-9">
            <!--The content below is only a placeholder and can be replaced.-->
            <app-ntlogin></app-ntlogin>
        </div>
    </div>

    <app-ntfooter title="{{bottomTitle}}"></app-ntfooter>

    <!-- Content -->
    <router-outlet></router-outlet>
</div>